<launch>
    <!-- Control arguments -->
    <arg name="show_rviz" default="true" />
    
    <!-- Visualization -->
    <node if="$(arg show_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find imarker_detector_ros)/config/rviz_dual_vision.rviz" output="screen" />

    <!-- Main Node -->
    <node name="iMarker_algorithms" pkg="imarker_detector_ros" type="dualvision_usb.py" output="screen">
        <rosparam command="load" file="$(find imarker_detector_ros)/config/cfg_dual_usb.yaml" />
    </node>

</launch>