<launch>
    <!-- Control arguments -->
    <arg name="show_rviz" default="false" />

    <!-- Visualization -->
    <node if="$(arg show_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find csr_detector_ros)/config/mono_camera.rviz" output="screen" />

    <!-- Main Node -->
    <node name="csr_detector" pkg="csr_detector_ros" type="runner_rs.py" output="screen">
        <rosparam command="load" file="$(find csr_detector_ros)/config/config.yaml" />
    </node>

</launch>